Footer {
  background-color: white;
}

#viz {
  height: 95%;
  width: 100%;
  border: solid 5px rgb(220, 224, 226);
  border-radius: 10px;  
}

.main-content {
  height: 85%;
}

.navbar {
  width: 100vw;
  height: 10%;
  padding-left: 30px;
  margin-right: 0px;
}

.footie {
  align-self: flex-end;
  width: 100vw;
  height: 15%;
  text-align: center;
  background-color: rgb(220, 224, 226);
}

.head {
  background-color: rgb(220, 224, 226);
  border-radius: 2%;
  text-align: center;
  padding: 10px;
  margin: 20px;
}
img {
  width: 5%;
  height: 5%;
}